[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lxml = "*"
praw = "*"
pytz = "*"
discord-logging = {git = "https://github.com/Watchful1/DiscordLogging.git"}
jsons = "*"
prometheus-client = "*"
fake-useragent = "*"
wikitextparser = "*"
mwparserfromhell = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
